# Python:
*.py[cod]
*.so
*.egg
*.egg-info
whoosh_index/
__pycache__/

#django
migrations/
*.sqlite3
media/
collected_static

# virtual environment
bin/
lib/
include/
share/
pip-selfcheck.json
Pipfile*
# config files
*.service
*.conf
